{% extends 'base.html' %}

{% block body %}
<h3>DESCRIPTION</h3>
<p>COMMENTS FINDER is a simple, clear website as its name says it helps you find comments from code sources files in many languages such as python, C++, HTML...</p>
<h3>HOW IT WORKS</h3>
<h4 class="step">STEP 1</h4>
<p>First you need to upload your code source file by clicking on the button 'choisir un fichier' and choose the file</p>
<h4 class="step">STEP 2</h4>
<p>Secondly select the choosen language from the select menu</p>
<h4 class="step">STEP 3</h4>
<p>Finaly click on Search button and bingo there are all the comments founded in the file</p>
<h4 id="notice">Notice</h4>
<h5>!Website works and still under some fixes and updates</h5>
{% endblock %}